node_modules/
dist/
release/
temp/
lib/
*.tsbuildinfo
.rspfx/
coverage/
.DS_Store
*.log
.npmrc
.env
.env.local
.env.*.local
examples/*/node_modules/
examples/*/dist/
examples/*/release/
examples/*/sharepoint/solution/
apps/*/dist/
apps/*/release/
apps/*/temp/
